#### Importing  Necessary Libaries

In [17]:

import numpy as np
import pandas as pd

### Extraction Layer

In [23]:
banki_df = pd.read_csv('dataset/rawdata/Banki_ecommerce.csv')
banki_df.head()

,Order_ID,Customer_ID,Customer_Name,Product_ID,Product_Name,Brand,Category,Price,Quantity,Total_Price,Order_Date,Shipping_Address,City,State,Country,Postal_Code,Email,Phone_Number,Payment_Method,Transaction_Status
0,NaN,NaN,NaN,64b689a8-bf03-47d2-a5cc-0723baeb1606,major,Haynes PLC,perfume,52.34,2,104.68,27/05/2020 14:20,"1648 Brown Bridge Apt. 846\nCaitlinland, MI 57992",Davidstad,Utah,China,50247,karen64@example.com,001-217-511-0290x8262,Credit Card,completed
1,NaN,NaN,NaN,64b689a8-bf03-47d2-a5cc-0723baeb1606,major,Haynes PLC,perfume,52.34,2,104.68,27/05/2020 14:20,"1648 Brown Bridge Apt. 846\nCaitlinland, MI 57992",Davidstad,Utah,China,50247,karen64@example.com,001-217-511-0290x8262,Credit Card,completed
2,e32af09a-b6ab-497e-af3a-331e4d4ed6e7,e0d6cb3c-c4b0-4cfe-8225-b65d094d2424,Dominic Buchanan,2ef6e8fa-6a36-4515-b1c2-a0a700abf386,despite,"Lawson, Stone and Campos",perfume oil,250.57,2,501.14,06/03/2020 06:49,"PSC 2224, Box 2284\nAPO AP 65880",Jordanborough,Arkansas,Kuwait,27879,margaret97@example.com,259.603.6134,Debit Card,completed
3,86eb8859-14ab-4d4e-9267-c5826f4e0c8e,fa3ca35a-5540-404b-a7eb-9001cdcbd840,Daniel Allen,3ba38e01-f8e7-4af2-9246-87ef0961d4f5,sea,Washington Group,perfume oil,179.81,6,1078.86,31/07/2020 07:09,"83909 Johnson Mall\nTranberg, MS 99017",Lake Ginatown,Georgia,Saint Vincent and the Grenadines,39336,angela55@example.com,+1-869-659-4272x982,Credit Card,completed
4,7379b560-8897-4623-92a2-523ddcdc43a1,7ad4de53-e6d7-4cd3-99b8-13fb70fe7a34,Daniel Schmidt,a58c53bd-a34b-4541-b926-bec9eb84cac2,suddenly,Rodgers Ltd,perfume oil,600.55,7,4203.85,11/05/2021 04:33,"82101 Johnson Flat\nWest Ryan, MS 29075",Sarahville,Ohio,France,30845,wayne59@example.org,292.840.0975x724,PayPal,pending

In [24]:
banki_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1020 entries, 0 to 1019
Data columns (total 20 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Order_ID            1000 non-null   object
 1   Customer_ID         1000 non-null   object
 2   Customer_Name       1000 non-null   object
 3   Product_ID          1020 non-null   object
 4   Product_Name        1020 non-null   object
 5   Brand               1020 non-null   object
 6   Category            1020 non-null   object
 7   Price               1020 non-null   float64
 8   Quantity            1020 non-null   int64
 9   Total_Price         1020 non-null   float64
 10  Order_Date          1020 non-null   object
 11  Shipping_Address    1020 non-null   object
 12  City                1020 non-null   object
 13  State               1019 non-null   object
 14  Country             1020 non-null   object
 15  Postal_Code         1020 non-null   int64
 16  Email               1020 non-null   object
 17  Phone_Number        1020 non-null   object
 18  Payment_Method      1020 non-null   object
 19  Transaction_Status  1020 non-null   object
dtypes: float64(2), int64(2), object(16)
memory usage: 159.5+ KB

In [26]:
banki_df.columns

Index(['Order_ID', 'Customer_ID', 'Customer_Name', 'Product_ID',
       'Product_Name', 'Brand', 'Category', 'Price', 'Quantity', 'Total_Price',
       'Order_Date', 'Shipping_Address', 'City', 'State', 'Country',
       'Postal_Code', 'Email', 'Phone_Number', 'Payment_Method',
       'Transaction_Status'],
      dtype='object')

## Data Cleaning and Transformation

In [33]:
###